.kasa-footer {
    background-color:black;
    text-align: center;
}

.kasa-footer-logo {
    padding-top: 65px;
}

.kasa-footer-texte {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
}