.fiche-logement {
    margin-left: 100px;
    margin-right: 100px;
}

.fiche-logement-carrousel {
    margin-bottom: 30px;
}

 /* Css pour la description du logement */

.kasa-logement-group-description {
    display: flex;
    justify-content: space-between;
    color: #FF6060;
}

.kasa-logement-titre {
    font-size: 36px;
    font-weight: 500;
}

.kasa-logement-sous-titre {
    font-size: 18px;
    padding-top: 5px;
    font-weight: 500;
}

/* Css pour le profil propriétaire logement */

.kasa-logement-group-profil {
    display: flex;
    align-items: center;
}

.kasa-logement-nom-profil {
    font-size: 18px;
    font-weight: 500;
    width: 100px;
    text-align: right;
}

.kasa-logement-photo-profil {
    height: 65px;
    margin-left: 10px;
    border-radius: 75px;
}

/* Css pour les tags et les stars */

.kasa-group-tag-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kasa-group-tag {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.kasa-star {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

/* Css pour les collapses Description et Equipements */

.kasa-logement-group-collapse {
    display: flex;
}

.kasa-collapse-logement-description {
    width: 50%;
}

.kasa-collapse-logement-equipement {
    width: 50%;
}

.kasa-collapse-list {
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width:990px) {

.fiche-logement {
    margin-left: 20px;
    margin-right: 20px;
}

.kasa-logement-group-collapse{
flex-direction: column;
}

.kasa-collapse-logement-description{
    width: 100%;
}

.kasa-collapse-logement-equipement{
    width: 100%;
}

.kasa-collapse-list {
    display: block;

}

.kasa-logement-titre {
    font-size: 20px;

}

}
