.kasa-collapse-apropos {
    margin-right: 100px;
    margin-left: 210px;
}

/* Media Queries */

/* Media Queries Tablette */

@media screen and (max-width:1255px) {

.kasa-collapse-apropos {
    margin-left: 20px;
    margin-right: 20px;
}
        
}
