.kasa-group-all-cards {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    border-radius: 25px;
}
.kasa-group-card {
    display: flex;
    justify-content: space-around;
    width: 33%;
}

.kasa-card {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.kasa-card-title {
    position: absolute;
    font-size: 18px;
    width: 200px;
    color: #FFFFFF;
    padding-top: 270px;
    padding-left: 20px;
    font-weight: 500;
}

.kasa-card-img {
    object-fit: cover;
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

/* Media Queries */

/* Media Queries Tablette */

@media screen and (max-width:1255px) {

.kasa-group-all-cards {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    justify-content: center;
    background-color: #FFFFFF;
}

.kasa-group-card {
width: 100%;
}

.kasa-card {
    padding-top: 0px;
}

.kasa-card-img {
    width:100%;
}
}
