.kasa-group-logement {
    margin-left: 100px;
    margin-right:100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F7F7F7;
    border-radius: 25px;
}
.kasa-group-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
    width: 33%;
}

.kasa-card {
    display:flex;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    justify-content: space-around;
}

.kasa-card-title {
    position: absolute;
    width:200px;
    color:#FFFFFF;
    padding-top: 250px;
    font-weight: 500;
    padding-right: 100px;
}

.kasa-card-img {
    width:340px;
    height:340px;
    object-fit: cover;
    border-radius: 10px;
}