.kasa-carrousel {
    margin-top: 55px;
}

.slide {
    position: relative;
}

.slide p {
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: #FFFFFF;
}

.slide img {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

.kasa-carrousel-btn {
    font-size: 80px;
    color: #FFFFFF;
}

.fa-chevron-right {
    position: absolute;
    right: 20px;
    top: 160px;
}

.fa-chevron-left {
    position: absolute;
    top: 160px;
    left: 20px;
}

/* Media Queries */

/* Media Queries Tablette */

@media screen and (max-width:1055px) {

.slide p {
    display: none;
}

}