.kasa-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;;
}

.kasa-header-lien-navigation {
    display: flex;
    gap: 5vw;
}

.kasa-header-lien-navigation a {
    text-decoration-line: none;
    color: #FF6060;
    font-weight: 500;
}

.kasa-header-lien-navigation a:hover {
    text-decoration: underline;
}


/* Media Queries */

/* Media Queries Tablette */

@media screen and (max-width:1255px) {

.kasa-header {
    margin-left: 0px;
    margin-right:20px;
}

nav {
    display:flex;
    gap: 15px;
}

.kasa-header img {
    width: 100px;
    margin-left: 20px;
}

}