.kasa-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;;
}

.kasa-header-lien a{
    text-decoration-line: none;
    color: #FF6060;;
    padding-left: 60px;
    font-weight: 500;
}