.kasa-collapse-details {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
}

summary {
    background-color: #FF6060;
    color:#FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kasa-collapse-title {
    padding: 10px 20px 10px 15px;
    font-weight: 500;
}

.kasa-collapse-description {
    font-size: 22px;
    color: #FF6060;
    padding: 20px;
    background-color: #F7F7F7;
}

.kasa-collapse-description li{
    list-style: none;
}

details[open] summary .fa-chevron-up {
    transform: rotate(-180deg);
}

.fa-chevron-up {
    margin-right: 20px;
    transition: all 0.7s;
}